**/node_modules/*
**/build/*
.vscode
.husky
docs

**/babel.*
**/webpack.*
**/jest.*
**/*.png
**/*.jpg
**/*.svg
*.json
package-lock.json
package.json
**/yarn.lock
**/yarn-error.log
**/public/*
*config.*