{
  "root": true,
  "env": {
    "es2021": true,
    "browser": true,
    "node": true,
    "jest": true
  },
  "parser": "@typescript-eslint/parser",
  "parserOptions": {
    "ecmaFeatures": {
      "jsx": true
    },
    "ecmaVersion": 6,
    "sourceType": "module"
  },
  "extends": [
    "eslint:recommended",
    "plugin:@typescript-eslint/recommended",
    "turbo",
    "prettier",
    "airbnb",
    "plugin:react/recommended",
    "plugin:jest/recommended"
  ],
  "plugins": [
    "prettier",
    "react",
    "react-hooks",
    "import",
    "@typescript-eslint"
  ],
  "rules": {
    "quotes": "off",
    "operator-linebreak": "off",
    "react/react-in-jsx-scope": "off",
    "react/display-name": "off",
    "react/jsx-filename-extension": [
      1,
      { "extensions": [".js", ".jsx", ".ts", ".tsx", ".png", ".svg"] }
    ],
    "prettier/prettier": "error",
    "import/extensions": "off",
    "max-len": "off",
    "@typescript-eslint/no-var-requires": "off",
    "no-undef": "off",
    "import/prefer-default-export": "off",
    "no-return-await": "off",
    "react/require-default-props": "off",
    "no-alert": "off",
    "no-console": "off",
    "@typescript-eslint/explicit-module-boundary-types": "off",
    "no-use-before-define": "off",
    "@typescript-eslint/no-empty-interface": "off",
    "import/no-extraneous-dependencies": "off",
    "react/jsx-props-no-spreading": "off",
    "import/no-unresolved": "off",
    "class-methods-use-this": "off",
    "curly": "off",
    "@typescript-eslint/no-explicit-any": "off",
    "@typescript-eslint/no-empty-function": "off",
    "react/no-unused-prop-types": "off",
    "react/default-props-match-prop-types": "off",
    "comma-dangle": "off",
    "camelcase": "off",
    "consistent-return": "off",
    "no-unused-vars": "off",
    "react/jsx-one-expression-per-line": "off",
    "jest/expect-expect": "off",
    "no-confusing-arrow": "off",
    "react/jsx-curly-newline": "off",
    "react/no-danger": "off",
    "no-case-declarations": "off",
    "turbo/no-undeclared-env-vars": "off",
    "linebreak-style": "off",
    "no-tabs": "off",
    "react/no-unescaped-entities": "off",
    "react/no-array-index-key": "off",
    "react/jsx-wrap-multilines": "off",
    "react/destructuring-assignment": "off",
    "no-unused-expressions": "off",
    "@typescript-eslint/no-unused-vars": "off",
    "react/state-in-constructor": "off",
    "react/prop-types": "off",
    "arrow-spacing": "error",
    "comma-spacing": "error",
    "array-bracket-spacing": "warn",
    "object-curly-spacing": "warn",
    "object-curly-newline": "off",
    "space-in-parens": "warn",
    "block-spacing": "error",
    "@typescript-eslint/ban-types": "off",
    "space-before-blocks": "warn",
    "implicit-arrow-linebreak": "off",
    "react/jsx-indent": ["error", 2],
    "import/newline-after-import": ["error", { "count": 1 }]
  },
  "settings": {
    "react": {
      "version": "detect"
    },
    "import/resolver": {
      "typescript": {
        "project": "packages/*/tsconfig.json"
      }
    }
  }
}
