
:root {
    --fb-primary:rgb(30,130,230);
    --fb-primary-alpha-05:rgba(129, 185, 241, 0.89);
    --fb-primary-alpha-10:rgb(95, 161, 228);
    --fb-primary-alpha-20:rgb(76, 153, 230);
    --fb-primary-alpha-30:rgb(66, 142, 218);
    --fb-primary-dark-10:rgb(18, 103, 189);
    --fb-primary-text-link:rgb(30,130,230);
    --fb-primary-text : #000000;
    --fb-primary-text-10 : #272727;
    --fb-primary-text-20 : #3a3a3a;
    --fb-primary-text-30 : #4d4d4d;
    --fb-primary-text-inverse : #FFFFFF;
    --fb-page : #F2F3F5;
    --fb-black-alpha-05:rgba(0,0,0,0.05);
    --fb-black-alpha-10:rgba(0,0,0,0.1);
    --fb-black-alpha-15:rgba(0,0,0,0.15);
    --fb-black-alpha-20:rgba(0,0,0,0.2);
    --fb-black-alpha-30:rgba(0,0,0,0.3);
    --fb-black-alpha-40:rgba(0,0,0,0.4);
    --fb-black-alpha-50:rgba(0,0,0,0.5);
    --fb-black-alpha-60:rgba(0,0,0,0.6);
    --fb-black-alpha-80:rgba(0,0,0,0.8);
    --fb-gray-00: #F5F6F7;
    --fb-gray-05: #F2F3F5;
    --fb-gray-10: #EBEDF0;
    --fb-gray-20: #DADDE1;
    --fb-gray-25: #CCD0D5;
    --fb-gray-30: #BEC3C9;
    --fb-gray-45: #8D949E;
    --fb-gray-70: #606770;
    --fb-gray-80: #444950;
    --fb-gray-90: #303338;
    --fb-gray-100: #1C1E21;
    --fb-shadow-10:#BEC3C9;
    --fb-shadow-20:#BEC3C9;
    --fb-shadow-30:#d4d5d6;
    --fb-white : #FFFFFF;
    --fb-black : #000000;
    --fb-highlight:#3578E5;
    --fb-red:rgb(235,20,20);
    --fb-red-10:rgba(240,80,80,1);
    --fb-green:##00A400;
    --fb-hover-overlay:rgba(255, 255, 255, 0.1);
    --fb-primary-button-background: #2D88FF;
    --fb-primary-button-disabled: #77A7FF;
    --fb-secondary-button-text: #424242;
    --fb-secondary-button-background: #e9e9e9;
    --fb-secondary-button-background-hovered: #dddddd;
    --fb-secondary-button-disabled: #e7e7e7;
    --fb-card-background:white;
    --fb-navigator-background:white;
    --fb-navigator-background:white;
    --fb-badge-live:rgba(240,80,80,1);
    --fb-badge-watching:rgb(0,0,0,.5);
    --fb-height-navigator:60px;
    --fb-height-main-content:100%;
    --fb-width-right-rail:300px;
    --fb-width-left-rail:300px;
    --fb-width-stories:650px;
    --fb-width-feeds:500px;
    --fb-width-sidebar-navigator:400px;
    --fb-width-messenger-chat:400px;
    --fb-height-messenger-chat:600px;
    --fb-corner-radius-02:2px;
    --fb-corner-radius-04:4px;
    --fb-corner-radius-06:6px;
    --fb-corner-radius-08:8px;
}