body {
    margin: 0;
    padding: 0;
}
* {
    font-family: Arial, Helvetica, sans-serif;
    box-sizing: border-box;
}

input,button,textarea {
    border: none;
    outline: none;
}

a {
    text-decoration: none;
}