{
  "parser": "@typescript-eslint/parser",
  "root": true,
  "extends": ["eslint:recommended", "prettier", "plugin:react/jsx-runtime"],
  "plugins": ["@typescript-eslint", "prettier", "react"],
  "parserOptions": {
    "ecmaFeatures": {
      "jsx": true
    }
  },
  "settings": {
    "react": {
      "version": "detect"
    }
  },
  "rules": {
    "no-undef": "off"
  }
}
